* {
  margin: 0;
  padding: 0;
}

.head {
  width: 100vw;
  height: 5rem;
  padding: 10px;
  font-size: 1.5rem;

  background-color: #000000;
  color: rgb(255, 255, 255);

  position: fixed;
  top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: max-content;
  background-color: #000000;
}

.main-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(42, 40, 65), rgb(7, 6, 14));

  width: 100vw;
  height: 91.5vh;
  padding-top: 5em;
}

.cal-con {
  display: grid;

  grid-template-areas:
    "screen screen screen screen"
    "box1 box2 box3 box4"
    "box5 box6 box7 box8"
    "box9 box10 box11 box12"
    "box13 box14 box15 box16"
    "box17 box17 box18 box19";
  gap: 1rem;

  padding: 1rem;
  border-radius: 1rem;
}

.btn {
  min-height: 100px;
  min-width: 100px;
  height: 110px;
  width: 200px;
  font-size: 3em;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.35);
}

.btn:active {
  transform: scale(0.95);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.35);
  opacity: 0.95;
}

#zero {
  width: 100%;
}

#zero:active {
  transform: scale(0.95);
}

.screen {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.202);
}

.exp-ans-container {
  display: flex;
  justify-content: end;
}

/* the dis blocks */
.dis {
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
}

.exp {
  color: white;
  font-size: 4.5rem;
  min-height: 7rem;
  width: fit-content;
  max-width: 848px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow-x: hidden;
}

.answer {
  color: white;
  min-height: 7rem;
  width: fit-content;
  font-size: 4.5rem;
}

.ans {
  color: white;
  font-size: 2.5rem;
  min-height: 47px;
  border-top: 1px solid rgba(255, 255, 255, 0.555);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow-x: hidden;
}

.after-click {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling buttons by colors */
.num {
  background: linear-gradient(to right, #d2d4df, rgb(160, 162, 182));
}

.ac,
.c,
.division,
.bs,
.mul,
.sub,
.add {
  color: white;
  background: linear-gradient(to right, rgb(42, 141, 226), rgb(23, 74, 198));
}

.equal {
  color: white;
  background: linear-gradient(to right, rgb(240, 164, 15), rgb(222, 92, 36));
}

/* class which will be added in the expression box when press enter or equals */
.eqexp {
  /* to be added in exp */
  color: rgba(255, 255, 255, 0.708);
  /* justify-content: start; */
  padding-left: 1rem;
  font-size: 3rem;
}

.exp-ans-container-eq {
  /* to be added in exp-ans-container */
  justify-content: space-between;
}
